@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: orange;
}

$bg: rgb(91, 87, 87);

body {
  color: var(--text);
  background-color: $bg;
}

.container {
  padding: 1rem;
  display: flex;
  h1 {
    font-size: 4rem;
    text-align: center;
  }
}
